<span itemprop="<%= key %>" itemscope itemtype="http://schema.org/Thing">
<% if record[key].try(:start_with?,'oubliette:') %>
  <%= link_to(record[key], Oubliette::API::PreservedFile.record_url(record[key].split(':',2).last)) %>
<% else %>
  <%= record[key] %>
<% end %>
</span>
