<span itemprop="<%= key %>" itemscope itemtype="http://schema.org/Thing">
  <% if record[key].try(:start_with?,'schmit:') %>
    <%= link_to(record[key], Schmit::API::Catalogue.record_url(record[key].split(':',2).last)) %>
  <% else %>
    <%= record[key] %>
  <% end %>
</span>
