.bundle/

.byebug_history

log/*.log
pkg/
db/*.sqlite3
db/*.sqlite3-journal
test_app/db/*.sqlite3
test_app/db/*.sqlite3-journal
test_app/log/*.log
test_app/tmp/
test_app/.sass-cache
tmp/

.vagrant/
jetty/
test_app/jetty/
test_app/config/secrets.yml
config/secrets.yml

coverage.data
coverage/*
spec/examples.txt
