<!DOCTYPE html>
<html>
<head>
  <title>Trifle</title>
  <%= stylesheet_link_tag    "trifle/application", media: "all" %>
  <%= javascript_include_tag "trifle/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
