<% if can?(:millennium_link, resource) && resource.source_record.try(:start_with?,'millennium:') %>
  <li><%= link_to("Link to Millennium", engine_paths.polymorphic_path([resource,:link_millennium]), method: "POST") %></li>
<% end %>
