/* @import "iipmooviewer.css"; */
@import "jquery-ui.css";
@import "durham_rails/durham_rails.scss";

body>.container {
  padding-top: 100px;
}

.page-header {
  margin-top: 0;
  h1 {
    margin-top: 0;
  }
}

footer {
  margin: 10px 0;
}

.navbar .logo {
  margin-left: 20px;
  margin-top: 13px;
}

.navbar-brand {
  width: auto;
  height: 58px;
  font-size: 27px;
}

ul.inline_list { 
  padding: 0;
  margin: 0;
  list-style: none;
  margin-bottom: 10px;
  & > li {
    line-height: 1;
    margin-right: 3px;
    padding-right: 6px;
    display: inline-block;
    border-right: 1px solid #888;
  }
}


table.item-list {
  margin-top: 1em;
  margin-bottom: 1em;
  td {
    padding-right: 1em;
  }
}

.popup-tool-form {
  margin: 20px;
}

.show-tools .nav hr {
  margin: 10px 0 0 0;
}

.form-group.multi_value>ul {
  padding-left: 0;
}

form.new_user {
  .form-control {
    width: auto;
    height: auto;
    display: inline-block;
  }

  div.user_remember_me>div {
    display: inline;
    input[type='checkbox'] {
      margin-left: 10px;
    }
  }
}

.form-group.iiif_range_canvas_ids>select {
  height: 300px;
}

#convert_to_layer_modal select.add_layer_select {
  height: 300px;
}

.iiif_image_preview {
  text-align: center;
  img {
    max-width: 100%;
  }
}

.iipmooviewer_container {
  width: 100%;
  height: 600px;
  position: relative;
  overflow: hidden;
  .iipmooviewer {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    background: none;
  }
}

#mirador_modal .modal-dialog {
  position: absolute;
  left: 15px;
  top: 15px;
  right: 35px;
  bottom: 15px;
  width: auto;
  height: auto;
  margin: 0;

  .modal-content {
    width: 100%;
    height: 100%;
    padding: 2px;
    background-color: #333;
    
    button.close {
      position: absolute;
      width: 38px;
      height: 42px;
      background-color: #333;
      border-radius: 6px;
      right: -30px;
      border: 8px solid #333;
      top: 0px;
      border-left: none;
      color: #888;
      opacity: 1;
      padding-left: 8px;
      text-shadow: none;
      
      &:hover { color: white; }
      &:focus { outline: none; }
      
      /*
      position: absolute;
      color: white;
      opacity: 0.3;
      right: 12px;
      top: 7px;
      
      &:hover {
        opacity: 0.5;
      }
      */
    }
    
    iframe {
      width: 100%;
      height: 100%;
      border: none;
    }
  }
}

.publish_status_not_published {
  color: red;
}

.add_layer_select {
  width: 100%;
}