<div class="row ">
  <div class="col-xs-12">
    <div class="iipmooviewer_container well">
      <div class="viewer_image_path" style="display: none"><%= @resource.image_location %></div>
      <div class="viewer_server" style="display: none"><%= Trifle.image_server_url %></div>
    </div>
  </div>
</div>
