<div class="page-header">
  <h1>Export images</h1>
</div>
<p>
  Use this tool to export original TIFF images from Oubliette. Enter a series of 
  Trifle canvas IDs and an optional export note. Trifle will find the corresponding
  Oubliette files and issue a job for Oubliette to export those. You will then need
  to go to Oubliette to see more information about the export job, including where
  to find the export file.
</p>
<%= form_tag(trifle.exports_url, method: "post") do %>
  <div class="well">
    <div class="form-group">
      <label class="string control-label" for="export_ids">Canvas IDs</label>
      <textarea class="form-control" name="export_ids" id="export_ids" rows="10" placeholder="Enter canvas IDs, separated by space"></textarea>
    </div>
    <div class="form-group">
      <label class="string control-label" for="export_note">Note</label>
      <textarea class="form-control" name="export_note" id="export_note"></textarea>
    </div>
    <div class="actions">
      <input type="submit" name="commit" value="Start export job" class="btn btn-primary"/>
    </div>
  </div>
<% end %>
