<% Array(record.model.send(key)).each do |v| %>
  <span itemprop="<%= key %>" itemscope itemtype="http://schema.org/Thing">
    <%= link_to(v.title, engine_paths.polymorphic_path(v)) %>
  </span>
  <br />
<% end %>