<div class="page-header">
  <h1>Trifle</h1>
</div>

<p>Triple I F Loader and Editor</p>

<h2>IIIF Collections</h2>
<%
  @resources = Trifle::IIIFCollection.root_collections
  @resources = @resources.from_solr! if @resources.respond_to?(:from_solr!)
%>
<%= render 'durham_rails/base_shared/index', model_name: 'iiif_collection', model_class: Trifle::IIIFCollection, no_paging: true, no_title: true, no_add: true %>
